[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStartPre=/sbin/modprobe uinput
Type=simple
ExecStart=/usr/local/bin/kanata --cfg /home/virus/.config/kanata/kanata.kbd
Restart=no

[Install]
WantedBy=default.target